extends layout

block content
  h1(class='title')= title
  p(class='subTitle') Regster Movie
  p(class='subTitle') Please enter themovie information to add a review
  form(action='/result' method='post')
    p(class='inputText')
      input(type="text" size="40" name="movie_title")
    p(class='inputText')
      input(type="text" size="40" name="movie_cast")
    p(class='inputText')
      input(type="text" size="40" name="movie_genre")
    p(class='inputText')
      input(type="text" size="40" name="poster_location")
    p(class='subTitle') Movie Ratings
    p(class='inputRadio')
      <label for="0">0</label>
      input(type="radio" id="0" name="rank" value="0") 
      <label for="1">1</label>
      input(type="radio" id="1" name="rank" value="1") 
      <label for="2">2</label>
      input(type="radio" id="2" name="rank" value="2") 
      <label for="3">3</label>
      input(type="radio" id="3" name="rank" value="3" checked) 
      <label for="4">4</label>
      input(type="radio" id="4" name="rank" value="4") 
      <label for="5">5</label>
      input(type="radio" id="5" name="rank" value="5") 
    p
      input(type="submit" value="Submit")