doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li 
        a(href="/list") List
      li 
        a(href="/") Add Person
      li 
        a(href="/search") Search Person
    block content
